
<form action="/customers/add-new" method="POST">
<% include ./partials/messages %>
  <fieldset>
    <legend>Add name to wait list</legend>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" id="name" name="name" class="form-control" placeholder="Enter name"/>

    </div>
    <div class="form-group">
      <label for="tel">Phone Numer</label>
      <input type="tel" id="tel" name="tel" class="form-control" placeholder="Enter phone number"/>
      <small class="form-text text-muted">We'll never share your phone number with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="number">How many guests?</label>
      <select name= "number" class="form-control" id="exampleSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6+</option>
      </select>
    </div>
    <div class="form-group">
      <label for="textarea">Special requests or additional information</label>
      <textarea class="form-control" name="requests" id="textarea" rows="3"></textarea>
    </div>

    <fieldset class="form-group">
      <legend>Seating Preference</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="preference" id="optionsRadios1" value="first-table" checked="">
          First table that opens up
        </label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="preference" id="optionsRadios2" value="bar-hightop">
          Bar/High top
        </label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="preference" id="optionsRadios2" value="dining-room">
          Dining room
        </label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="preference" id="optionsRadios2" value="patio">
          Patio
        </label>
      </div>

    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>