<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>Booking Confirmed
      </h1>
      <p>Your name has been added to the wait list. We will contact you via SMS when your table is almost ready. </p>
      <a href="/" class="btn btn-primary btn-block mb-2">New Guest</a>
    </div>
  </div>
</div>