<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>WELCOME
      </h1>
      <p>The current wait time is <%= waitTime %> minutes</p>
      <a href="customers/add-new" class="btn btn-primary btn-block mb-2">Add name to wait list</a>
    </div>
  </div>
</div>